/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora', ui-sans-serif, system-ui;
  background-color: #1C1C1E;
  color: #E5E5E7;
}
